header {
	/*empty header for Bier Garten logo*/
}

img {
	width: 300px;
}

i {
	margin-top:18%;
}

.toolbarText {
	font-size: 20px;
	font-family: Proxima Nova;
	font-weight: bold;
	color: #ffb300;
}

#appName{
	font-size: 30px;
	font-family: Proxima Nova;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	color: #ffb300;
	text-shadow: 2px 2px 0px #2d2d2d;

}

.takeMe, .myFave {
	width:50%;
	height:50%;
	font-size:15px;
}

.ons-toolbar {
	background-color: #43a047;
	color: #ffe54c;
}

.fab__icon, .speed-dial__item, .button{
	background-color: #ffb300;
	font-size: 25px;
	font-family: Proxima Nova;
}
#addFav, #takeMe{
	font-size:16px;
	font-family: Proxima Nova;
}

.page {}

#content {
	background-color: white;
	padding: 20px;
}

#mapDiv {
	width: 100%;
	height: 82%;
}

.icon {
	width: 30px;
}

.image {
	/*Right now only for beerapi*/
	width: 50%;
}

h1 {
	font-size: 30px;
	font-family: Proxima Nova;
	font-weight: bold;
	color: #ffb300;
	text-align: center;
}

h2 {
	color: 2d2d2d;
	text-align: center;
}

p {
	text-align: center;
	font-size: 16px;
}